body {
  direction: rtl!important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  overflow-y: scroll;
}

.container {
  max-width: none!important;
}

.abouthome {
  display: block;
  align-items: center;
  font-size: 1.2rem;
  position: relative;
}

main {
  margin-top: 120px!important;
  flex: 1;
  position: relative;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

div {
  display: block;
}

body {
  color: #404040;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #111;
  line-height: 1.3;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
  text-align: right;
  margin-bottom: 1.2rem;
}

.aboutpart {
  font-size: 1.2rem;
}

.newsletterpart {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
  padding: 1.5rem;
  text-align: center;
  background: rgba(255,255,255,255);
  box-shadow: 1px 2px 16px rgba(0,0,0,0.1)!important;
  position: relative;
}

.newsletterpart h2 {
  font-size: 1.4rem;
}

.newsletterpart p {
  font-size: 1rem;
  text-align: center;
}

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

.newsletter-avatar {
  width: 75px;
}

.social-buttons {
  text-align: right;
  display: flex;
}

.social-buttons a {
  margin-left: 0.8rem;
}

.social-buttons img {
  width: 30px;
  height: 30px;
}

@media (min-width: 992px) {
  .newsletterpart {
    width: 50%!important;
  }
}

.newsletterpart {
  margin: 4rem 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.newsletterpart .btn, .newsletterpart .btn:focus, .newsletterpart .btn:hover, .newsletterpart .btn:active {
  background-color: #ff566b!important;
  border-color: #ff566b!important;
}

.newsletterpart .btn:active, .newsletterpart .btn:focus {
  box-shadow: 0 0 0 .2rem rgba(255,194,205,0.5)!important;
}

@media (min-width: 1200px) {
  .newsletterpart .before {
    position: absolute;
    bottom: 25px;
    right: 304px;
    z-index: -1;
    content: url(../../assets/img/3.svg);
    height: 250px;
  }
}

@media (min-width: 576px) {
  .AdressMailContactPage {
    font-size: 1.2rem!important;
  }
}

.AdressMailContactPage {
  font-size: 1rem;
}

.aboutpart a {
  color: #ff566b!important;
}

.aboutpart.policy h3 {
  margin-top: 2rem;
}

.aboutpart.policy {
  margin-bottom: 4rem;
}

.newsletterpart.newsletterdiv {
  margin-top: 1rem!important;
  margin-left: auto!important;
  margin-right: auto!important;
}

.newsletterpart.newsletterdiv form {
  margin-bottom: 1rem!important;
  width: 100%!important;
}

@media (min-width: 1200px) {
  .newsletterpart.homeSearchCategorie .before {
    position: absolute;
    bottom: -115px;
    right: 0px!important;
    z-index: -1;
    content: url(../../assets/img/3.svg);
    height: 250px;
    transform: rotate(-90deg);
  }
}

::selection {
  background-color: #333;
  color: white;
}

.homeCategories h2 {
  text-align: center!important;
  margin-bottom: 0.6rem!important;
}

.tagPageCategories h2 {
  text-align: right;
  margin-bottom: 0.6rem!important;
}

.homeCategories p {
  text-align: center;
}

.homeCategories, .tagPageCategories {
  margin-bottom: 2rem!important;
}

.newsletterpart.homeSearchCategorie {
  margin-top: 0!important;
  width: 100%!important;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  text-align: right!important;
  position: relative;
}

.searchCategorieLeftDiv {
  width: 100%;
}

@media (min-width: 992px) {
  .searchCategorieRightDiv {
    width: 30%;
    display: block!important;
  }
}

.searchCategorieRightDiv {
  display: none;
  max-height: 100%;
  max-width: 100%;
  position: relative;
}

.searchCategorieLeftDiv p {
  text-align: right!important;
  margin: 1.2rem 0 0.6rem 0;
}

.searchCategorieLeftDiv.specificCategoriePage .btn {
  background-color: transparent!important;
  border-color: #ff566b!important;
  color: #ff566b!important;
  margin: 0.4rem 0rem 0.4rem 0.4rem!important;
  padding: 0.3rem 0.8rem!important;
  font-weight: 600;
  border-radius: 6px;
  border-style: dashed;
}

.searchCategorieLeftDiv .btn {
  background-color: transparent!important;
  border-color: #222!important;
  color: #222!important;
  margin: 0.4rem 0rem 0.4rem 0.4rem!important;
  padding: 0.3rem 0.8rem!important;
  font-weight: 600;
  border-radius: 6px;
  border-style: dashed;
}

.searchCategorieLeftDiv .btn:focus, .searchCategorieLeftDiv .btn:hover, .searchCategorieLeftDiv .btn:active {
  background-color: #ff566b!important;
  border-color: #ff566b!important;
  color: #fff!important;
}

.homeBtnsFlex {
  display: inline-table;
}

.form-control:active, .form-control:focus {
  box-shadow: 0 0 0 .2rem rgba(231,231,231,0.5)!important;
  border-color: #bcbcbc!important;
}

.brands img {
  width: auto;
  max-height: 36px;
  margin: 0.8rem 1.4rem;
}

.brands {
  text-align: center;
  margin-top: 6%!important;
}

.homeNewsThings, .postPageTheBigPost {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0!important;
}

@media (min-width: 768px) {
  .homeNewsThingsElement {
    width: 25%!important;
  }
}

.homeNewsThingsElement {
  display: block;
  position: relative;
  padding: 0 8px;
  margin-bottom: 2%;
  text-align: right;
  width: 50%;
}

.homeNewsThingsElement .btn, .homeNewsThingsElement .btn:focus, .homeNewsThingsElement .btn:active {
  background-color: rgba(0,0,0,0.06)!important;
  border: none!important;
  color: #555555!important;
  margin: 0.4rem 0rem 0rem 0.2rem!important;
  padding: 0.2rem 0.6rem!important;
  font-weight: 500;
  border-radius: 6px;
  font-size: 0.9rem;
  box-shadow: none!important;
}

.homeCategorieProductTitle {
  font-weight: bold;
  margin-bottom: -0.1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

.homeCategories a, .homeCategories a:focus, .homeCategories a:active, .tagPageCategories a, .tagPageCategories a:focus, .tagPageCategories a:active {
  color: #222;
  text-decoration: none;
}

.homeCategorieProductWriter {
  font-size: 1rem;
  display: flex;
}

.profileShowPageProductCategorieBtns .btn, .profileShowPageProductCategorieBtns .btn:focus, .profileShowPageProductCategorieBtns .btn:active {
  font-size: 0.8rem;
}

.homeCategorieProductCategorie {
  display: flex;
  flex-wrap: wrap;
}

.ProductImg img, .profilePageProfileImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 576px) {
  .ProductImg.profileShowPageProductImg {
    height: 215px!important;
  }
}

@media (min-width: 576px) {
  .ProductImg {
    height: 250px!important;
  }
}

.ProductImgViewNumbersDiv {
  position: absolute;
  top: 0.2rem;
  right: 0.4rem;
  color: rgba(255,255,255,0.8);
  display: none;
  align-items: center;
  font-size: 1rem;
}

.ProductImg {
  max-width: 170px;
  height: 226px;
  position: relative;
}

.ProductImg:hover .ProductImgViewNumbersDiv {
  display: block!important;
}

.ProductImg:hover img, .EditProfileProfileImgDiv:hover {
  box-shadow: 0 2px 8px 2px rgba(180,180,180,0.5);
  filter: brightness(90%);
  transition: filter 0.2s ease;
}

.homeCategorieProductWriter img {
  width: 26px;
  height: 26px;
}

.homeCategorieProductWriter a {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  height: 26px;
}

.homeSeeMore:focus, .homeSeeMore:active, .homeSeeMore:hover {
  box-shadow: 0 0 0 .2rem rgba(213,213,213,0.5)!important;
}

@media (min-width: 768px) {
  .homeSeeMore {
    margin: 0rem 0rem 0.4rem 0.4rem!important;
  }
}

.homeSeeMore {
  background-color: transparent!important;
  border-color: rgba(34,34,34,0.5)!important;
  color: rgba(34,34,34,0.5)!important;
  margin: -0.5rem 0rem 0.4rem 0.4rem;
  padding: 0.3rem 0.8rem!important;
  font-weight: 600;
  border-radius: 6px;
  border-style: dashed;
  display: block;
  margin-left: auto!important;
  margin-right: auto!important;
}

.navbar-light .navbar-toggler {
  display: none;
}

@media (min-width: 768px) {
  .profilePage {
    display: flex!important;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.profilePage {
  display: block;
  margin-top: 0rem!important;
}

@media (min-width: 576px) {
  .profilePageElementPicture {
    display: flex!important;
    margin-left: 1.5rem;
  }
}

.profilePageElementPicture {
  display: block;
  position: relative;
  text-align: right;
  border-radius: 6px;
  padding: 1.5rem;
  background: rgba(255,255,255,255);
  box-shadow: 1px 2px 16px rgba(0,0,0,0.1)!important;
}

.profilePageElementPicture .btn, .profilePageElementPicture .btn:focus, .profilePageElementPicture .btn:hover, .profilePageElementPicture .btn:active {
  background-color: transparent;
  color: #888!important;
  margin: 0.4rem 0rem 0rem 0.2rem!important;
  padding: 0.2rem 0.6rem!important;
  font-weight: 500;
  border-radius: 6px;
  font-size: 0.9rem;
  box-shadow: none!important;
  pointer-events: none;
  border-style: dashed!important;
  border-color: #888;
}

@media (min-width: 1200px) {
  .profilePageProfileImg {
    height: 225px!important;
    width: 155px!important;
  }
}

.profilePageProfileImg {
  height: 200px;
  width: 135px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.ElementPictureRightSide {
  display: block;
  position: relative;
}

@media (min-width: 576px) {
  .ElementPictureLeftSide {
    margin-right: 5%!important;
    text-align: right!important;
  }
}

.ElementPictureLeftSide {
  display: block;
  margin-right: 0%;
  position: relative;
  text-align: center;
}

@media (min-width: 576px) {
  .ElementPictureLeftSide h3 {
    text-align: right!important;
  }
}

.ElementPictureLeftSide h3 {
  font-size: 1.2rem;
  margin-bottom: 0!important;
  text-align: center;
}

.ElementPictureLeftSide p {
  margin-top: -0.4rem;
}

.blockProfilePageRightDiv {
  display: block;
}

.profilePageElementPicture a {
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 18px!important;
  height: 18px!important;
}

.btn.btn-primary.ProfilePagePublicationsBtn {
  margin-left: 0.4rem;
}

.EditProfileMain {
  height: 100%;
  font-size: 1.2rem;
}

.EditProfileMain h2 {
  text-align: center;
  margin-bottom: 0.6rem!important;
}

.EditProfileMain p {
  text-align: center;
}

@media (min-width: 992px) {
  .EditProfileBigDiv {
    width: 65%!important;
    display: block;
  }
}

.EditProfileBigDiv {
  margin: 2rem auto 3rem auto!important;
}

.EditProfileSkillsDiv{
  display: flex;
}

.EditProfileSkillsDiv .input1{
  margin-left: 0.4rem!important;
}

.profilePageElementPicture.EditProfileElementPicture {
  margin-left: 0!important;
}

.EditProfileBigDiv .form-control, .DescativerCompteBigDiv .form-control {
  border: 1px solid #d0d0d0;
  margin-bottom: 2px;
  margin-top: 6px;
  display: block;
  width: 100%!important;
  padding: 0.25rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fafafa;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.ElementPictureLeftSide.EditProfilePictureLeftSide {
  width: 100%;
}

.DésactiverCompteLinkDiv a:hover, .DésactiverCompteLinkDiv a:focus, .DésactiverCompteLinkDiv a:active {
  color: rgba(255,86,107,0.75)!important;
}

.DésactiverCompteLinkDiv a {
  position: relative;
  top: 0;
  left: 0;
  color: rgba(0,0,0,0.35);
  text-decoration: none;
  font-size: 1rem;
}

.DésactiverCompteLinkDiv {
  margin-top: -0.5rem!important;
}

.EditProfileForm .btn, .EditProfileForm .btn:focus, .EditProfileForm .btn:hover, .EditProfileForm .btn:active {
  background-color: #454545!important;
  color: #fff!important;
  border: none!important;
  padding: 0.32rem 0.6rem!important;
  pointer-events: auto;
}

.profilePageProfileImg.EditProfileProfileImgDiv {
  position: absolute;
  background-color: rgba(0,0,0,.25);
  text-align: center;
}

.EditProfileProfileImgDiv .btn, .EditProfileProfileImgDiv .btn:hover, .EditProfileProfileImgDiv .btn:focus, .EditProfileProfileImgDiv .btn:active {
  width: 100%!important;
  height: 100%!important;
  color: #fff!important;
  font-size: 1.1rem;
  pointer-events: auto;
  background: none!important;
  border: none!important;
}

.DescativerCompteBigDiv {
  text-align: center!important;
  display: block;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .DescativerCompteForm {
    margin-left: 0%!important;
    margin-right: 0%!important;
  }
}

.DescativerCompteForm {
  display: block;
  margin: 2rem 0%;
  width: 80%;
}

.DescativerCompteForm .btn, .DescativerCompteForm .btn:hover, .DescativerCompteForm .btn:focus, .DescativerCompteForm .btn:active {
  background-color: #454545!important;
  color: #fff!important;
  border: none!important;
  padding: 0.5rem 0.9rem!important;
  pointer-events: auto;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 1rem;
  box-shadow: none!important;
}

@media (min-width: 992px) {
  .DesactiverCompteFormBigDiv {
    margin: 2rem 20% 4rem 20%!important;
  }
}

.DesactiverCompteFormBigDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
  padding: 0!important;
  text-align: center;
  background: rgba(255,255,255,255);
  box-shadow: 1px 2px 16px rgba(0,0,0,0.1)!important;
  position: relative;
  margin: 2rem 0% 4rem 0%;
}

@media (min-width: 1200px) {
  .EditProfileBigDiv .before {
    position: absolute;
    bottom: 25px;
    right: 425px;
    z-index: -1;
    content: url(../../assets/img/3.svg);
    height: 250px;
  }
}

@media (min-width: 576px) {
  .postPageLeftSide {
    width: 75%!important;
  }
}

.postPageLeftSide {
  width: 100%;
}

@media (min-width: 576px) {
  .postPageElementPicture {
    width: 25%!important;
    text-align: right!important;
  }
}

.postPageElementPicture {
  display: block;
  position: relative;
  padding: 0 8px;
  margin-bottom: 2%;
  text-align: center;
  width: 60%;
  margin: 0 auto!important;
}

.postPageFavorisBtn {
  margin-top: 0.6rem;
  max-width: 170px;
  width: 100%;
  background-color: #fff!important;
  border-style: dashed;
  border-color: #ff566b!important;
  color: #ff566b!important;
  font-weight: 600;
  box-shadow: none!important;
}

.profileShowPageAddPostBtn {
  margin: 0.6rem 0;
  max-width: 170px;
  width: 100%;
  background-color: transparent!important;
  border-style: dashed;
  border-color: #222!important;
  color: #222!important;
  font-weight: 600;
  box-shadow: none!important;
}

@media (max-width: 575px) {
  .profileShowPageProductCategorie {
    text-align: center;
    display: block!important;
    margin: 0.2rem 0 0.2rem 0!important;
  }
}

.postPageProductCategorie, .profileShowPageProductCategorie {
  display: flex;
  flex-wrap: wrap;
  margin: 0.2rem 0 0.2rem 0!important;
}

.postPageProductCategorie .btn, .postPageProductCategorie .btn:focus, .postPageProductCategorie .btn:hover, .postPageProductCategorie .btn:active {
  background-color: #eee!important;
  border: none!important;
  color: #555555!important;
  margin: 0rem 0rem 0rem 0.2rem!important;
  padding: 0.2rem 0.6rem;
  font-weight: 500;
  border-radius: 6px;
  font-size: 0.9rem;
  box-shadow: none!important;
}

.reviewStarsDiv .checked {
  color: #ff566b!important;
}

.reviewStarsDiv {
  color: rgba(0,0,0,0.1);
  text-align: right;
  margin-bottom: 0.1rem;
}

.postPageProductDescription h3 {
  margin: 0 0 0.4rem 0!important;
}

.postPageProductDescription p, .postPageProductDescription h4 {
  margin: 0!important;
}

.postPageAuthor {
  font-size: 1rem;
  margin: 0!important;
}

.postPageAuthor img{
  width: 23px;
  height: 23px;
  position: relative;
  margin: -0.1rem 0.2rem 0 0!important;
}

.postPageProductDescription .postPageAudioH4 {
  margin-bottom: 1rem!important;
}

@media (min-width: 576px) {
  .postPageDateDiv p {
    max-width: 170px!important;
  }
}

.postPageDateDiv p {
  margin-top: 0.4rem;
  text-align: center;
  width: 100%;
  max-width: none;
  color: #999999;
  font-size: 1rem;
  margin-bottom: 0.6rem;
}

.postPagePdfBtn:hover {
  background-color: #555!important;
  border-color: #fff!important;
}

.postPagePdfBtn, .postPagePdfBtn:focus, .postPagePdfBtn:active {
  margin-top: 0.4rem;
  max-width: 170px;
  width: 100%;
  background-color: #444!important;
  border-color: #fff!important;
  border-style: dashed;
  color: #ffffff!important;
  font-weight: 600;
  box-shadow: none!important;
}

@media (max-width: 575px) {
  .postPageProductImg {
    margin: 0 auto!important;
  }
}

@media (max-width: 575px) {
  .profileShowPageProductProfileImg {
    margin: 0 auto!important;
  }
}

.SearchPicture {
  max-height: 100%;
  max-width: 100%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4rem;
  right: 0;
  margin: auto;
}

@media (min-width: 768px) {
  .contactPageRightSide, .aboutPageRightSide {
    width: 55%!important;
    margin-left: 5%!important;
  }
}

.contactPageRightSide, .aboutPageLeftSide {
  width: 100%;
  margin-left: 0;
  position: relative;
}

@media (min-width: 768px) {
  .contactPageLeftSide, .aboutPageLeftSide {
    width: 40%!important;
    display: block!important;
  }
}

.contactPageLeftSide, .aboutPageLeftSide {
  display: none;
}

.contactPageBigDiv, .aboutPageBigDiv {
  display: flex;
  margin-bottom: 3rem;
}

.contactPageRightSide p, .aboutPageRightSide p {
  font-size: 1.2rem;
  text-align: justify;
}

.contactPageRightSide a, .aboutPageRightSide a {
  color: #fd7681!important;
}


.SingInHeading1Div {
  text-align: center;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .SingInParagraph1Div {
    width: 60%!important;
  }
}

.SingInParagraph1Div {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 86%;
}

.SingInParagraph1Div p {
  text-align: center;
}

.SignInExitBtn {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.SignInExitBtn .btn:hover {
  color: rgba(34,34,34,0.85)!important;
}

.SignInExitBtn .btn, .SignInExitBtn .btn:active {
  background-color: transparent!important;
  border: none!important;
  color: rgba(34,34,34,0.5)!important;
  font-size: 1.2rem!important;
  box-shadow: none!important;
}

@media (min-width: 576px) {
  .SignInSocialsMediaDiv {
    width: 60%!important;
  }
}

.SignInSocialsMediaDiv {
  margin: 0.4rem 0;
  width: 100%;
}

.SignInGoogleBtn:hover {
  background: transparent;
  border-color: #444!important;
  color: #444;
}

.SignInGoogleBtn, .SignInGoogleBtn:focus {
  background: transparent!important;
  border-color: #aaa;
  color: #444!important;
  font-size: 14px;
  padding: 8px 16px;
  box-shadow: none!important;
  width: 212px;
  position: relative;
  text-align: left;
}

.SignInGoogleBtn img {
  height: 25px;
  width: 25px;
  margin-bottom: 0;
}

.SingInParagraph2Div {
  margin-top: 4rem;
  width: 60%;
  color: #bbb;
  font-size: 0.9rem;
}

.SingInParagraph2Div p {
  text-align: center;
}

.SignInGoogleBtnSvg {
  margin-right: 8px;
  margin-top: -2px;
}

.SingInParagraph2Div a {
  color: #bbb!important;
  text-decoration: underline;
}

.navbarProfilePictureBtn img {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 0;
}

.navbarProfilePictureBtn {
  width: 32px;
  height: 32px;
  display: block;
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
  line-height: normal;
  position: relative;
  padding: 0;
  background-color: transparent!important;
  border: none!important;
  box-shadow: none!important;
}

.profileShowPageProductCategorie .btn {
  background-color: transparent;
  color: #888!important;
  margin: 0.4rem 0rem 0rem 0.4rem!important;
  padding: 0.2rem 0.6rem!important;
  font-weight: 500;
  border-radius: 6px;
  font-size: 0.9rem;
  box-shadow: none!important;
  pointer-events: none;
  border-style: dashed!important;
  border-color: #888;
}

@media (max-width: 575px) {
  .profileShowPageProductDescription h4, .profileShowPageProductDescription p {
    text-align: center!important;
  }
}

.profileShowPageTitle {
  font-size: 1.2rem;
}

.profileShowPageProductDescription hr {
  margin-top: 0.2rem;
}

.profileShowPageProductDescription p {
  margin-bottom: 2rem!important;
}

.ButtonClicked {
  border-bottom: 1px solid!important;
  border-color: #222!important;
  color: #222!important;
}

.profileShowPageProductDescription a {
  margin-right: 1.4rem;
  color: #888;
  font-size: 1.1rem;
  padding-bottom: 0.25rem;
}

.profileShowPageImg {
  position: relative;
  width: 23px;
  height: 23px;
  margin: -0.5rem 0.2rem 0 0!important;
}

.profileShowPageProductProfileImg img, .profileShowPageProductProfileImg:hover img {
  box-shadow: 0 0 0 3px rgba(255,255,255,.8),0 4px 5px rgba(167,167,167,0.6),0 0 0px 0px rgba(255,255,255,.25);
  margin-right: auto;
  margin-left: auto;
  display: block;
  border-radius: 50%;
  object-fit: cover;
  width: auto!important;
  height: auto!important;
  filter: brightness(100%)!important;
}

.ProductImg.profileShowPageProductProfileImg {
  height: auto!important;
}

.profileShowPageEditLink {
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 18px!important;
  height: 18px!important;
}

@media (min-width: 576px) {
  .verticalAds {
    max-width: 170px!important;
    display: block!important;
  }
}

.verticalAds {
  display: none;
}

@media (min-width: 576px) {
  .horizontalAds {
    display: none!important;
  }
}

.horizontalAds {
  display: block;
  width: 100%;
  margin: 1rem 0!important;
}

.verticalAds img, .horizontalAds img {
  width: 100%!important;
  height: 100%!important;
  object-fit: cover;
  margin: 0;
}

img[src=""] {
  display: none;
}

.postPageFavorisDiv {
  display: block;
  text-align: center!important;
  margin: 0 auto!important;
  width: 100%;
}

.postPageFavorisDiv img {
  width: 20px!important;
  height: 20px!important;
  margin-bottom: 0!important;
}

@media (min-width: 768px) {
  .FavorisFacebookReportDiv {
    max-width: 170px;
  }
}

.FavorisFacebookReportDiv {
  width: 100%;
  margin: 0.4rem 0;
}

.FavorisFacebookReportDiv a, .FavorisFacebookReportDivBtn {
margin: 0 0.4rem!important;
opacity: 0.8;
padding: 0!important;
background: none!important;
border: none!important;
box-shadow: none!important;
line-height: 1rem!important;
}

.modal-open {
  overflow-y:scroll!important;
  padding-right:0 !important;
}


.FavorisFacebookReportDiv .modal-body{
font-size: 1rem;
padding: 1rem 2rem 0 2rem;
}

.FavorisFacebookReportDiv .modal-footer{
  border-top: none!important;
  text-align: center;
  margin: 0 auto 1rem auto!important;
}

.FavorisFacebookReportDiv .modal-header{
  border-color: hsla(0, 0%, 7%, 0.05);
  background: url(../../assets/img/3.svg) -55% 85% no-repeat;
  background-size: 60% auto;
}

.FavorisFacebookReportDiv .modal-footer .btn{
  border-top: none!important;
  background-color: #444!important;
  border-color: #444!important;
  box-shadow: none!important;
  color: #fff!important;
}

.loginModal{
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0px;
  text-align: center;
  margin: auto;
  padding: 2rem 0 4rem 0!important;
}

.closeLoginModal{
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.modal-content{
  box-shadow: 1px 2px 16px rgba(0,0,0,0.15)!important;
  border: none!important;
  border-radius: 0.6rem!important;
}

.modal-backdrop{ background-color: white; }

.modal-backdrop.show { opacity: .85; }